#flash_warning, #flash_notice, #flash_error {
  font-weight: bold;
	font-size: 14pt;
  left: 0;
  top: 0;
  padding: 5px 0;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 100;
  color: #fff;
  display: none;
  padding: 20px 0;
  opacity: 0.9;
}

#flash_notice {
  background-color: #004F00;
}

#flash_warning {
  background-color: #00004F;
}

#flash_error {
  background-color: #4F0000;
}