#flash_warning, #flash_notice, #flash_error {
  font-weight: bold;
  left: 0;
  top: 0;
  padding: 5px 0;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 100;
  color: #333333;
  display: none;
  border-bottom: 1px dashed #555;
  padding: 20px 0;
  opacity: 0.9;
}

#flash_notice {
  background-color: #C8FFBF;
}

#flash_warning {
  background-color: #FFF9BF;
}

#flash_error {
  background-color: #FFD1BF;
}