#container {
	width: 600px;
	margin: 0 auto;
}

#profile {
	width: 600px;
}

#topbar {
  color: #fff;
  margin: 0 auto;
}

#info {
  float: left;
  width: 30%;
	padding: 20px;
	font-family: 'Georgia', serif;
	font-size: 32pt;
}

#account-info {
  float: right;
  width: 50%;
  text-align: right;
	padding: 20px 10px;
}