<div class="box">
  <h1 class="delicious">Delicious</h1>
  <p>
    This service will deliver each Sunday your bookmarks from past week.
  </p>
  <p style="text-align: right;">
    <% if Context.user.delicious.nil? %>
      <%= link_to 'Create delicious settings', new_delicious_path, :class => 'awesome orange' %>
    <% else %>
      <%= link_to 'Update delicious settings', edit_delicious_path, :class => 'awesome orange' %>
    <% end %>
  </p>
</div>

<div class="box reverse" style="text-align: center;">
  Interested to support different service? &rarr; <a href="http://twitter.com/martincik" class="awesome green">Let me know via Twitter &raquo;</a>
</div>