<div class="box">
  <h1 class="delicious">Delicious</h1>
  <p>
    For now application only support Delicious with API v1. So people registered with Yahoo! will not
    be able to use this service.
  </p>
  <p style="text-align: right;">
    <% if Context.user.delicious.nil? %>
      <%= link_to 'Create delicious settings', new_delicious_path, :class => 'awesome orange' %>
    <% else %>
      <%= link_to 'Update delicious settings', edit_delicious_path, :class => 'awesome orange' %>
    <% end %>
  </p>
</div>

<div class="box reverse">
  Would you be interested to support different service? <a href="http://twitter.com/martincik" class="awesome green">Let me know via Twitter &raquo;</a>
</div>