<h1><%=t 'view.profile.title' %></h1>
<br />

<%= error_messages_for :user %>

<% form_for(:user, @user, :url => create_profile_path, :html => { :method => :post, :class => 'common-form' }) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= f.submit t('common.update'), :class => 'submit' %>
<% end %>