<div class="box">
  <h2>What?</h2>
  <p>
    This is very simple application allowing users of <a href="http://delicious.com">del.ico.us</a> to be awesome in 
    reviewing their bookmarks on weekly basis via email.
  </p>
  <br />
  <h2>Why?</h2>
  <p>
    I'm crazy maniac bookmarking every week around 15 web pages. Many times I don't have time to 
    review my bookmarks and they are lying forgotten in my gallery of bookmarks once and for all. At first 
    I build this service for me, but maybe there're others that could appreciate it also.
  </p>
  <br />
  <h2>How?</h2>
  <ol style="margin: 0; padding: 10px 0 0 40px;">
    <li>You need to be <a href="http://delicious.com">delicious.com</a> user</li>
    <li><%=raw RPXNow.popup_code('Login', 'retasteme', rpx_token_url) %> to <a href="http://retaste.me">retaste.me</a> and insert your credentials for <a href="http://delicious.com">delicious.com</a></li>
    <li>Once a week each Sunday you'll receive email with all the bookmarks from past week (max. 100)</li>
  </ol>
  <br />
  <h2>Who?</h2>
  <p class="clearfix">
    <img style="float: left; margin: 0 10px 10px 0; border: 2px solid #111;" src="http://a1.twimg.com/profile_images/548285710/Laco09_bigger.jpg"> I'm Ladislav Martincik 
    living in Barcelona, Spain. You should follow me on twitter <a href="http://twitter.com/martincik">@martincik</a> to get updates.
    If you like what I do you can always make me happy buying <a href="http://amzn.com/w/3APMIY8Y76WH4">nice book</a>. I love reading, learning and creating.
  </p>
  <br />
  <h2>Price?</h2>
  <p>
    Free and it will stay free.
  </p>
</div>
